/* mobile izgled ekrana */
@media only screen and (max-width: 600px) {
     #prva, tr,td{
        margin: auto;
       
    }
    table tr td.dan{
        text-align: center;
    }
    tr, td{
       display: block;
       width: 90%;
   }
    td:empty, th{
       visibility: hidden;
   }

   
}