table{  
    
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    margin-top: 40px;
}
input, select{
    width: 130pt;
}
td{
    text-align: center;
}
/* meni */
a:hover{
    font-weight: bold;
}
div a{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}
div{
    background: rgb(233, 228, 222);
    margin: 0;
    height: 25px;
    padding-top: 5px;
}
body{
    margin: 0;
}

