th, table tr td.dan, .predmet{
    font-family: 'Courier New', Courier, monospace;
}
th, table tr td.dan{
    background:white;
    border: none;
}
th{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    height: 20px;
    font-size: 12pt;  
}
th:nth-of-type(1), table tr td.dan{
    text-align: right;
} 
th:nth-of-type(1){
    padding-right: 25px;
}
table tr td.dan {
	padding-right: 5px;
    font-size: 15pt;
}
tr td{
	border: 1px solid black;
	background-color: rgb(233, 224, 250);
	text-align: center;
}
#druga {
	border-collapse: collapse;
	margin: auto;
	width: 65%;
	height: 450px;
}
td{
	width: 20px;
}
.predmet{
    background-color: rgb(213, 226, 247);
    font-size: 14pt;
}
#prvi{
	font-weight: bold ;
}
td:nth-of-type(even), td.wt{
	border-right: 2px dashed;
}
td.cetvrti{
    border-left: 2px dashed;
}
tr.jedan td:nth-of-type(5),tr.jedan td:nth-of-type(7),
tr.dva td:nth-of-type(13), tr.tri td:nth-of-type(11){
border-left: 2px solid rgb(129, 125, 125);
}

/* meni */
a:hover{
    font-weight: bold;
}
div a{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}
div{
    background: rgb(233, 228, 222);
    margin: 0;
    height: 25px;
    padding-top: 5px;
}
body{
    margin: 0;
}